@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #FD8112;

    --background: 30 63.699999999999996% 4.24%;
    --foreground: 30 9.8% 97.65%;

    --muted: 30 49% 15.9%;
    --muted-foreground: 30 9.8% 55.3%;

    --popover: 30 45.4% 6.890000000000001%;
    --popover-foreground: 30 9.8% 97.65%;

    --card: 30 45.4% 6.890000000000001%;
    --card-foreground: 30 9.8% 97.65%;


    --primary: 30 98% 53%;
    --primary-foreground: 30 9.8% 5.300000000000001%;

    --secondary: 30 49% 15.9%;
    --secondary-foreground: 30 9.8% 97.65%;

    --accent: 30 49% 15.9%;
    --accent-foreground: 30 9.8% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 9.8% 97.65%;

    --ring: 30 98% 53%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}